.sidebar {
    .sidebar-inner{
        .nav-item {
            margin-bottom: 14px !important;
        }
    }
 

    background-color: #181F2C !important;

    .spur {
        font-size: 23px;
    }

    .fa {
        font-size: 20px;
        color: white;
    }
}