// chart_notification
.charts{
    .card{
        .card-header {
            background-color: #F0F1F7;
            padding: 11px !important;
        }
    }
    .recharts-layer{
        font-size: 14px !important;
    }
}
